* {
    --blueCharm: #82C0D9;
    --oceanDepths: #025E73;
    --richBlack: #013440;
    --deepGreen: #025918;
    --emerald: #038C17;
}

.tablaGrupo {
    border-collapse: collapse;
}

.tablaGrupo th,
.tablaGrupo td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}
